body {
  overflow-x: hidden;
}

header #header-up {
  height: 30px;
  display: flex;
  align-items: center;
}
header #header-up .location,
header #header-up .phone-number,
header #header-up .email {
  margin-right: 15px;
}
header #header-up .location i,
header #header-up .phone-number i,
header #header-up .email i {
  color: #427D9D;
  font-size: 13px;
}
header #header-up .location span,
header #header-up .phone-number span,
header #header-up .email span {
  color: rgb(175, 175, 175);
  font-size: 13px;
}
header #header-up .icons {
  display: flex;
  justify-content: space-evenly;
}
header #header-up .icons a i {
  color: gray;
  opacity: 0.5;
  transition: 0.3s;
  font-size: 20px;
}
header #header-up .icons a:hover i {
  opacity: 1;
}
header #header-up .icons a:hover i.fa-facebook {
  color: blue;
}
header #header-up .icons a:hover i.fa-linkedin {
  color: blue;
}
header #header-up .icons a:hover i.fa-github {
  color: black;
}
header #header-up .icons a:hover i.fa-youtube {
  color: red;
}
header #navbar .logo img {
  width: 100%;
}
header #navbar .navbar-items {
  display: flex;
  justify-content: end;
}
header #navbar .navbar-items ul:not(.dropdown-list) {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header #navbar .navbar-items ul:not(.dropdown-list) li:not(.dropdown-list-li) {
  margin-left: 30px;
}
header #navbar .navbar-items ul:not(.dropdown-list) li:not(.dropdown-list-li) a:not(.dropdown-list-item) {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-weight: 600;
  font-size: 14px;
}
header #navbar .navbar-items ul:not(.dropdown-list) li:not(.dropdown-list-li) a:not(.dropdown-list-item):hover {
  color: #279bd9;
}
header #navbar .navbar-items ul:not(.dropdown-list) .dropdown-li .dropdown-button {
  border: none;
  background: none;
  font-weight: 600;
  font-size: 14px;
  transition: 0.5s;
}
header #navbar .navbar-items ul:not(.dropdown-list) .dropdown-li .dropdown-button:hover {
  color: #279bd9;
}
header #navbar .navbar-items ul:not(.dropdown-list) .dropdown-li .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
}
header #navbar .navbar-items ul:not(.dropdown-list) .dropdown-li .dropdown-content .dropdown-list {
  list-style: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
header #navbar .navbar-items ul:not(.dropdown-list) .dropdown-li .dropdown-content .dropdown-list .dropdown-list-li {
  margin-bottom: 5px;
  margin-top: 5px;
}
header #navbar .navbar-items ul:not(.dropdown-list) .dropdown-li .dropdown-content .dropdown-list .dropdown-list-li a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 600;
  transition: 0.5s;
}
header #navbar .navbar-items ul:not(.dropdown-list) .dropdown-li .dropdown-content .dropdown-list .dropdown-list-li a:hover {
  color: #279bd9;
}
header #navbar .navbar-items ul:not(.dropdown-list) .dropdown-li:hover .dropdown-content {
  display: block;
}
header #navbar-menu-wrap {
  display: none;
}
header #navbar-menu-wrap .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #navbar-menu-wrap .logo img {
  width: 100%;
}
header #navbar-menu-wrap .menu {
  background-color: #9BBEC8;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  height: 55px;
  padding-top: 10px;
  transition: all 0.3s;
}
header #navbar-menu-wrap .menu button {
  border: 0;
  background-color: #427D9D;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
header #navbar-menu-wrap .menu button i {
  font-size: 14px;
  margin-left: 5px;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 0;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) li:not(.hover-list) {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) li:not(.hover-list) a:not(.hover-list-link) {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) li:not(.hover-list) a:not(.hover-list-link):hover {
  color: #279bd9;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages {
  height: 22.5px;
  overflow: hidden;
  transition: all 0.3s;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages span {
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages span i {
  font-size: 11px;
  margin-left: 5px;
  color: white;
  transition: all 0.3s;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages span:hover {
  color: #279bd9;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages span:hover i {
  color: #279bd9;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages ul {
  list-style: none;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages ul li a:hover {
  color: #279bd9;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) .menu-pages-open {
  height: auto !important;
}
header #navbar-menu-wrap .menu ul:not(.menu-link-hover) li:last-child {
  margin-bottom: 0;
}
header #navbar-menu-wrap .menu-open {
  height: auto;
}

@media only screen and (max-width: 992px) {
  header #header-up {
    height: 70px;
  }
  header #header-up .infos {
    justify-content: space-evenly;
  }
  header #header-up .icons {
    padding-top: 10px;
  }
  header #header-up .icons i {
    font-size: 16px !important;
  }
  header hr {
    margin-top: 0;
  }
  header #navbar {
    display: none;
  }
  header #navbar-menu-wrap {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  header #header-up .infos span,
  header #header-up .infos i {
    font-size: 10px;
  }
  header #header-up .infos .location,
  header #header-up .infos .phone-number,
  header #header-up .infos .email {
    margin-right: 0;
  }
}
@media only screen and (max-width: 576px) {
  header #header-up {
    height: 130px;
  }
  header #header-up .infos {
    display: block !important;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
}/*# sourceMappingURL=home.css.map */