body {
    overflow-x: hidden;
}

header {

    #header-up {
        height: 30px;
        display: flex;
        align-items: center;

        .location,
        .phone-number,
        .email {
            margin-right: 15px;

            i {
                color: #427D9D;
                font-size: 13px;
            }

            span {
                color: rgb(175, 175, 175);
                font-size: 13px;
            }
        }

        .icons {
            display: flex;
            justify-content: space-evenly;

            a {

                i {
                    color: gray;
                    opacity: 0.5;
                    transition: 0.3s;
                    font-size: 20px;
                }

                &:hover i {
                    opacity: 1;
                }

                &:hover i.fa-facebook {
                    color: blue;
                }

                &:hover i.fa-linkedin {
                    color: blue;
                }

                &:hover i.fa-github {
                    color: black;
                }

                &:hover i.fa-youtube {
                    color: red;
                }
            }
        }
    }

    #navbar {

        .logo {

            img {
                width: 100%;
            }
        }

        .navbar-items {
            display: flex;
            justify-content: end;

            ul:not(.dropdown-list) {
                list-style: none;
                display: flex;
                justify-content: space-between;

                li:not(.dropdown-list-li) {
                    margin-left: 30px;

                    a:not(.dropdown-list-item) {
                        text-decoration: none;
                        color: black;
                        transition: 0.5s;
                        font-weight: 600;
                        font-size: 14px;

                        &:hover {
                            color: #279bd9;
                        }
                    }
                }

                .dropdown-li {

                    .dropdown-button {
                        border: none;
                        background: none;
                        font-weight: 600;
                        font-size: 14px;
                        transition: 0.5s;

                        &:hover {
                            color: #279bd9;
                        }
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        border-radius: 10px;
                        z-index: 1000;

                        .dropdown-list {
                            list-style: none;
                            padding-left: 15px;
                            padding-top: 10px;
                            padding-right: 10px;
                            padding-bottom: 10px;

                            .dropdown-list-li {
                                margin-bottom: 5px;
                                margin-top: 5px;

                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-size: 13px;
                                    font-weight: 600;
                                    transition: 0.5s;

                                    &:hover {
                                        color: #279bd9;
                                    }
                                }
                            }
                        }
                    }

                    &:hover .dropdown-content {
                        display: block;
                    }
                }
            }
        }
    }

    #navbar-menu-wrap {
        display: none;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }

        .menu {
            background-color: #9BBEC8;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
            overflow: hidden;
            height: 55px;
            padding-top: 10px;
            transition: all 0.3s;

            button {
                border: 0;
                background-color: #427D9D;
                color: white;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 10px;
                display: block;
                margin: 0 auto;

                i {
                    font-size: 14px;
                    margin-left: 5px;
                }
            }

            ul:not(.menu-link-hover) {
                list-style: none;
                padding-bottom: 10px;
                margin-bottom: 0;

                li:not(.hover-list) {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-weight: 600;
                    font-size: 15px;

                    a:not(.hover-list-link) {
                        color: white;
                        text-decoration: none;
                        transition: all 0.3s;

                        &:hover {
                            color: #279bd9;
                        }
                    }
                }

                .menu-pages {
                    height: 22.5px;
                    overflow: hidden;
                    transition: all 0.3s;

                    span {
                        color: white;
                        transition: all 0.3s;
                        cursor: pointer;

                        i {
                            font-size: 11px;
                            margin-left: 5px;
                            color: white;
                            transition: all 0.3s;
                        }

                        &:hover {
                            color: #279bd9;
                        }

                        &:hover i {
                            color: #279bd9;
                        }
                    }

                    ul {
                        list-style: none;

                        li {
                            margin-top: 10px;
                            margin-bottom: 10px;

                            a {
                                text-decoration: none;
                                color: white;
                                transition: all 0.3s;

                                &:hover {
                                    color: #279bd9;
                                }
                            }
                        }
                    }
                }

                .menu-pages-open {
                    height: auto !important;
                }

                li:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .menu-open {
            height: auto;
        }
    }

}

@media only screen and (max-width: 992px) {
    header {

        #header-up {
            height: 70px;

            .infos {
                justify-content: space-evenly;
            }

            .icons {
                padding-top: 10px;

                i {
                    font-size: 16px !important;
                }
            }
        }

        hr {
            margin-top: 0;
        }

        #navbar {
            display: none;
        }

        #navbar-menu-wrap {
            display: block;
        }
    }
}

@media only screen and (max-width: 768px) {
    header {

        #header-up {

            .infos {

                span,
                i {
                    font-size: 10px;
                }

                .location,
                .phone-number,
                .email {
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    header {

        #header-up {
            height: 130px;

            .infos {
                display: block !important;
                width: max-content;
                margin: 0 auto;
            }
        }
    }
}